<main>
    <div style="background-image: url({{ glide:image
            width="1280"
            height="600"
            fit="crop_focal"
            format="webp" }})"
         class="pt-6  bg-dark sm:pt-16 lg:pt-8 lg:pb-10 lg:overflow-hidden rounded-b-3xl mb-6 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="lg:grid lg:grid-cols-2 lg:gap-8">
                <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
                    <div class="lg:py-6">
                    <div class=" inline-flex items-center text-white bg-black rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base hover:text-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500">
                        <span class="px-3 py-0.5 text-white text-xs font-semibold leading-5 uppercase tracking-wide bg-green-600 rounded-full ">Free Tips</span>
                        <span class="ml-4 text-sm">Join our newsletter</span>
                        <!-- Heroicon name: solid/chevron-right -->
                        <svg class="ml-2 w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
                        <span class="block">Direct to your inbox</span>
                        <span class="block text-green-600">join for free</span>
                    </h1>
                    <p class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg">Join our newsletter to stay up to date with the latest betting tips and sports predictions before they're posted on our website. Best of all, it's completley free!</p>
                    <div class="mt-10 sm:mt-12">
                        <form action="#" class="sm:max-w-xl sm:mx-auto lg:mx-0">
                        <div class="sm:flex">
                            <div class="min-w-0 flex-1">
                            <label for="email" class="sr-only">Email address</label>
                            <input id="email" type="email" placeholder="Enter your email" class="block w-full px-4 py-3 rounded-md border-0 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 focus:ring-offset-gray-900">
                            </div>
                            <div class="mt-3 sm:mt-0 sm:ml-3">
                            <button type="submit" class="block w-full py-3 px-4 rounded-md shadow bg-green-600 text-white font-medium hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 focus:ring-offset-gray-900">Subscribe</button>
                            </div>
                        </div>
                        <p class="mt-3 pb-6 text-sm text-gray-300 sm:mt-4">By providing your email, you agree to our <a href="/terms" class="font-medium text-white">terms and conditions</a>. There's no catch and we never charge for our newsletters.</p>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <h1 class="text-3xl font-semibold pb-2 pt-8">{{title}}</h1>
    <hr class="border-b-4 border-b-green-600 ">
    <div class="pt-8 text-justify">
        {{ content }}
    </div>
    <div>




        <!-- This is where the tips will be displayed    Notes: limit="3" as="posts" sort="date:desc"-->
        <div class="grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3">
            {{ collection:tips limit="6" paginate="true" as="posts" sort="date:desc"}}
                {{ if no_results }}
                    <p>Aww, there's nothing to see at the minute. Please check back later.</p>
                {{ /if }}
            {{ posts }}
            <a href="{{ url }}" class="block col-span-1 transition bg-gray-100 shadow hover:shadow-md hover:bg-gray-100 hover:opacity-80">
                <img src="{{ glide:featured_image width="1280" height="600" fit="crop_focal" format="webp"}}" alt="{{ featured_image:alt }}" class="rounded-r">
                <article class="flex-col justify-between p-4 leading-tight h-3/6">
                        <div>
                            <p class="mb-4 font-semibold text-xl">{{ title }}</p>
                        </div>
                        <p class="pt-6 text-sm font-thin text-gray-600">{{ date format="d F Y" }}</p>
                </article>
            </a>
            {{ /posts }}
            {{# {{ partial:components/paginate}} #}}
            {{ /collection:tips }}
        </div>
    </div>
  </main>
