<footer class="bg-dark mt-6 border-t-4 border-t-green-600" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:pt-16 lg:px-4">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="grid grid-cols-2 gap-8 xl:col-span-2">
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 transition hover:text-gray-200 tracking-wider uppercase">Gambling Awareness</h3>
                        <p class="mt-4 text-xs text-gray-300">We are committed to responsible gambling and have a number of ways to help you stay in control and keep gambling fun. You must be 18 years old or over to gamble on this site. Begambleaware.org. Please bet responsibly</p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <img class="h-8 w-8" src="/images/icons/18.png">
                        <a href="https://www.gamcare.org.uk/"></a><img class="w-32 h-auto focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500 focus:rounded" src="/images/icons/gamcare.png"></a>
                        <a href="https://www.begambleaware.org/"></a><img class="w-42 h-auto focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500 focus:rounded" src="/images/icons/be-gamble-aware.png"></a>
                        <a href="https://www.whenthefunstops.co.uk/"><img class="w-42 h-auto pt-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-200 focus:rounded-lg focus:ring-green-500" src="/images/icons/fun.png"></a>
                    </div>
                </div>
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 transition hover:text-gray-200 tracking-wider uppercase">Links</h3>
                        <ul role="list" class="mt-4 space-y-4">
                            {{ nav:header }}
                            <li>
                            <a href="{{ url }}" class=" focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500 focus:rounded text-base text-gray-300 hover:text-gray-200"> {{ title }} </a>
                            </li>
                            {{ /nav:header }}
                        </ul>
                    </div>
                    <div class="mt-12 md:mt-0">
                    <h3 class="text-sm font-semibold text-gray-400 hover:text-gray-200 tracking-wider uppercase">The Betting Guys</h3>
                    <ul role="list" class="mt-4 space-y-4">
                        {{ nav:footer }}
                        <li>
                        <a href="{{ url }}" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500 focus:rounded text-base transition text-gray-300 hover:text-gray-200"> {{ title }} </a>
                        </li>
                        {{ /nav:footer }}
                    </ul>
                    </div>
                </div>
            </div>
            {{ form:newsletter }}
            <div class="mt-8 xl:mt-0">
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Subscribe to our newsletter</h3>
                <p class="mt-4 text-base text-gray-300">The latest news, articles, and resources, sent to your inbox weekly.</p>
                <form class="mt-4 sm:flex sm:max-w-md">
                    <label for="email-address" class="sr-only">Email address</label>
                    <input type="email" name="email-address" id="email-address" autocomplete="email" required class="appearance-none min-w-0 w-full bg-white border border-transparent rounded-md py-2 px-4 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500 focus:border-white focus:placeholder-gray-400" placeholder="Enter your email">
                    <div class="mt-3 rounded-md sm:mt-0 sm:ml-3 sm:flex-shrink-0">
                    <button type="submit" class="w-full bg-green-600 border border-transparent rounded-md py-2 px-4 flex items-center justify-center text-base font-medium text-white hover:bg-green-700 transition ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500">Subscribe</button>
                    </div>
                </form>
            </div>
            {{ /form:newsletter }}
        </div>
        <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
            <div class="flex space-x-6 md:order-2">
                {{ site_information:social_media_accounts }}
                    <a href="{{ social_media_url }}" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500 focus:rounded text-gray-400 transition hover:text-gray-300">
                        <img src="{{ icon }}" class="h-6 w-6 " fill="currentColor" viewBox="0 0 24 24" aria-hidden="true" />
                    </a>
                {{ /site_information:social_media_accounts }}
            </div>
            <p class="mt-8 text-sm text-gray-400 md:mt-0 md:order-1">&copy; {{ now|format:Y }} {{ site_information:copyright }} <a href="https://ciits.co.uk" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-dark focus:ring-green-500 focus:rounded">{{ site_information:footer_flair }}</a></p>
        </div>
    </div>
</footer>
