<div class="relative flex items-center justify-center w-full mx-auto md:h-16 lg:h-20 -mt-6">
    <div class="z-10 flex items-center justify-center w-full h-full bg-dark rounded-b-3xl">
        <div class="mx-4 text-center text-white text-base md:text-xl py-3 lg:text-3xl font-semibold uppercase tracking-wider">
            {{ title }}
        </div>
    </div>
</div>

<div class="my-6">
    {{ content }}
</div>

<div class="bg-dark text-white pl-4 py-3 font-bold rounded-t-md text-sm inline-flex pr-4">
    {{ if bet_date | is_today }}
        Today @ {{ bet_date format="H:i" }}
        <a class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500 focus:rounded text-green-500 pl-4 hover:text-green-600 transition" href="{{ bet_link }}">{{ bet }}</a>
    {{ else }}
    {{ bet_date format="l jS F" }} @ {{ bet_date format="H:i" }}
    :
    <a class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-500 focus:rounded text-green-500 pl-4 hover:text-green-600 transition" href="{{ bet_link }}">{{ bet }}</a>
    {{ /if }}
</div>
<div class="bg-black text-white py-3 pl-4 text-sm font-semibold inline-flex pr-4">
    <ul>
        {{ tip }}
        <li class="py-1">
            {{ team }} <i class="font-light pl-3"> ({{ league }})</i> <i class="font-light pl-6"> - {{ option }}</i><br>
        </li>
        {{ /tip }}
    </ul>
</div>
